<div class="container">

  <div class="box-left">
    <div id="btn">
      <p>Version 2.0 is here</p>
    </div>

    <h1>Pathway  to<br> productivity</h1>
    <p id="subject">Celebrate the joy of accomplishment with an<br>
       app designed to track your progress, motivate<br>
       your efforts, and celebrate your successes.</p>

    <div class="btns">
      <div id="get">
        <p>Get for Free</p>
      </div>
      <div id="learn">
        <p>Learn more</p>
        <img  src="../../../assets/image/Icons.png"/>
      </div>
    </div>

  </div>

  <img id="setting" src="../../../assets/image/setting.png"/>
</div>
