<div class="container">
<div>
  <img src="../../../assets/image/emojistar 1.png">
</div>

<div class="box-center">
    <h1>Sign up for free today</h1>
    <p>Celebrate the joy of accomplishment with an app designed<br> to track your progress and motivate your efforts.</p>

    <div class="box-btns">
      <div id="btn-get">
        <p>Get for free</p>
      </div>
      <div id="btn-learn">
        <p>Learn more</p>
        <img src="../../../assets/image/Icons.png"/>
      </div>
    </div>

</div>
<div>
  <img src="../../../assets/image/helix2 1.png"/>
</div>
</div>

<div class="footer">
  <div class="box-footer">
    <img src="../../../assets/image/logo.png"/>
    <p>Effortlessly turn your ideas into a<br>
       fully functional, responsive, no-<br>
       code SaaS website.</p>
    <div class ="box-social">
      <img src="../../../assets/image/1.png"/>
      <img src="../../../assets/image/2.png"/>
      <img src="../../../assets/image/3.png"/>
      <img src="../../../assets/image/4.png"/>
      <img src="../../../assets/image/5.png"/>
      <img src="../../../assets/image/6.png"/>
    </div>
  </div>

  <div class="infos">
    <div class="task">
      <h2>Product</h2>
      <p>Features</p>
      <p>Integrations</p>
      <p>Updates</p>
      <p>FAQ</p>
      <p>Pricing</p>
    </div>
      <div class="task">
      <h2>Company</h2>
      <p>About</p>
      <p>Blog</p>
      <p>Careers</p>
      <p>Manifesto</p>
      <p>Press</p>
      <p>Contact</p>
    </div>
      <div class="task">
      <h2>Resources</h2>
      <p>Examples</p>
      <p>Community</p>
      <p>Guides</p>
      <p>Docs</p>

    </div>
      <div class="task">
      <h2>Legal</h2>
      <p>Privacy</p>
      <p>Terms</p>
      <p>Security</p>
    </div>
  </div>
</div>
