<div class="container">
  <div class="imgs">
    <img src="../../../assets/image/primeiro.png"/>
    <img src="../../../assets/image/quantum 1.png"/>
    <img src="../../../assets/image/echo 1.png"/>
    <img src="../../../assets/image/celestia 1.png"/>
    <img src="../../../assets/image/pulse.png"/>
    <img src="../../../assets/image/apex 1.png"/>
  </div>

  <div class="texts">
    <div id="btn">
      <p> Boost your productivity</p>
    </div>
    <h2>A more effective way to <br>track progress</h2>
    <p id="subtitle">Effortlessly turn your ideas into a fully functional,<br>
       responsive, no-code SaaS website in just minutes with<br>
        the set of free components for Framer.</p>
  </div>
  <div id="box-img">
    <img src="../../../assets/image/Product Image.png"/>
  </div>

  <div class="box">
    <div class="card">
      <img src="../../../assets/image/flowe.png" class="icon"/>
      <p class="title">Integration ecosystem</p>
      <p class="subtitle">Track your progress and motivate<br>
         your efforts everyday.</p>
      <div class="box-info">
        <p>Learn more</p>
        <img  src="../../../assets/image/Icons.png"/>
      </div>
    </div>

     <div class="card">
      <img src="../../../assets/image/flex.png" class="icon"/>
      <p class="title">Goal setting and tracking</p>
      <p class="subtitle">Set and track goals with <br>
        manageable task breakdowns.
       <div class="box-info">
        <p>Learn more</p>
        <img  src="../../../assets/image/Icons.png"/>
      </div>
    </div>

    <div class="card">
      <img src="../../../assets/image/secrete.png" class="icon"/>
      <p class="title">Secure data encryption</p>
      <p class="subtitle">Ensure your data’s safety with top- <br>
        tier encryption.</p>
      <div class="box-info">
        <p>Learn more</p>
        <img  src="../../../assets/image/Icons.png"/>
      </div>
    </div>

     <div class="card">
      <img src="../../../assets/image/bell.png" class="icon"/>
      <p class="title">Customizable notifications</p>
      <p class="subtitle">Get alerts on tasks and deadlines <br>
        that matter most.</p>
      <div class="box-info">
        <p>Learn more</p>
        <img  src="../../../assets/image/Icons.png"/>
      </div>
    </div>


  </div>

