.container{
  padding: 20px 15px;
  background: linear-gradient(#D2DCFF,white,#D2DCFF);
  align-items: center;
  justify-content: center;
}

.imgs{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.texts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#btn{
  border:1px solid #A9A9A9;
  border-radius: 15px;
  padding: 10px 15px 10px 15px ;
  margin-bottom: 15px;
  margin-top: 120px;

}
#btn p{
  font-family: 'Inter',sans-serif;
  color: black;
  font-weight: 500;
}

h2{
  font-family: 'Inter',sans-serif;
  color: black;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

#subtitle{
  font-family: 'Inter',sans-serif;
  color: black;
  font-weight: 350;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: center;
}
#box-img{
  align-items: center;
  display: flex;
  justify-content: center;
}
#box-img img{
  width: 75%;
}
.box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  margin-top: 40px;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.icon{
  width: 18px;
  height: 18px;
}
.title{
  font-family: 'Inter',sans-serif;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.subtitle{
  font-family: 'Inter',sans-serif;
  color: black;
  font-weight: 400;
  font-size: 16px;
}
.box-info{
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 5px;
}
.box-info p{
  font-family: 'Inter',sans-serif;
  font-weight: 500;
}

.box-info img{
  width: 20px;
  height: 20px;
}

@media screen and (max-width:500px){
  .imgs{
display: none;
  }
  #btn{
    margin-top: 80px;
  }
  h2{
    font-size: 40px;
    margin-top: 25px;
  }

  .box{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .card{
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
  }
}
